<IfModule mod_rewrite.c>
    RewriteEngine On
    #May be required to access sub-directories
    #RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]

    RewriteCond %{REQUEST_URI} !(/$|\.) 
    RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

    RewriteCond %{HTTP_HOST} ^(www\.)?botwiki\.org$ [NC]
    RewriteRule ^submit-your-bot/?$ https://docs.google.com/forms/d/1IZGM4AIUye_bp4e_8i1zXGcBqGxGAsLk61L4OeWJ5co/viewform [L,R=301,NC]


</IfModule>

<IfModule mod_env.c>
   SetEnv HTTPS on
</IfModule>

# Prevent file browsing
Options -Indexes

Redirect "/ph" "/"