<IfModule mod_rewrite.c>
    RewriteEngine On
    #May be required to access sub-directories
    #RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]

    RewriteCond %{REQUEST_URI} !(/$|\.) 
    RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]
</IfModule>

<IfModule mod_env.c>
   SetEnv HTTPS on
</IfModule>

# Prevent file browsing
Options -Indexes

Redirect "/ph" "/"