.slide-up, .slide-down{
  transition: all 0.5s;  
}

.slide-up{
  opacity: 1;
  pointer-events: all;
  transform: translate(0, 0);
}

.slide-down{
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 50px);
}

