@site-width: 1262px;
@site-width-small: 1000px;
@sidebar-width: 360px;

/*
Original dark gray
@main-color: #2A2C2B;
Purple
@main-color: #564d68;
*/

@main-color: #38313a;
@background-color: #f7f7f7;
@link-color: #4A89DC;
