/* Import all the style files, make sure variables.less goes first. */
/*
Original dark gray
@main-color: #2A2C2B;
Purple
@main-color: #564d68;
*/
/*
  This is a slightly modified default Pico theme. Needs a complete rewrite. 
*/
/*=================================*/
/* Pico Default Theme
/* By: Gilbert Pellegrom
/* http: //dev7studios.com
/*=================================*/
* {
  box-sizing: border-box;
}
/* Reset Styles
/*---------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/* HTML5 tags */
header,
section,
footer,
aside,
nav,
article,
figure {
  display: block;
}
article {
  /*
  overflow: auto;
*/
}
/* hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* make buttons play nice in IE:   
    www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}
/* Sharper Thumbnails */
img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}
/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
  padding: 5px;
  font-size: 0.8em;
  color: #666;
  background: #fff;
  border: 1px solid #999999;
  margin: 0;
}
input:focus,
textarea:focus,
select:focus {
  color: #160f18;
  background: #fff;
  border: 1px solid #666666;
}
::-webkit-input-placeholder {
  font-family: 'Source Serif Pro', serif;
}
:-moz-placeholder {
  font-family: 'Source Serif Pro', serif;
}
::-moz-placeholder {
  font-family: 'Source Serif Pro', serif;
}
:-ms-input-placeholder {
  font-family: 'Source Serif Pro', serif;
}
/* Main Styles
/*---------------------------------------------*/
body {
  font: 1.2em 'Source Serif Pro', serif;
  color: #444;
  line-height: 1.2em;
  padding-top: 4em;
  margin: 0 0 80px;
  background: #f9f9f7;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 1030px) {
  body {
    padding-top: 2em;
  }
}
a,
a:visited {
  color: #4A89DC;
  text-decoration: none;
}
a:hover,
a:active {
  color: #160f18;
}
@media (min-width: 1030px) {
  a:hover,
  a:active {
    text-decoration: underline;
  }
}
a:hover {
  transition: all 0.2s linear;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', serif;
  color: #38313a;
  line-height: 1.2em;
  padding: 0.5rem;
}
@media (min-width: 1030px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 1rem 2rem;
  }
}
a.pilcrow,
a.pilcrow:visited {
  color: #c0b9c2;
  transition: color 0.3s;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
a.pilcrow:hover {
  transition: color 0.3s;
  color: #160f18;
  text-decoration: none;
}
h1 {
  font-size: 3em;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
h2 {
  font-size: 2.5em;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.7em;
}
ol,
ul {
  margin: 1em 3rem;
}
@media (min-width: 1030px) {
  ol,
  ul {
    margin: 1em 3rem;
    padding-left: 2em;
  }
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin: 0;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
abbr,
acronym {
  cursor: help;
  border-bottom: 0.1em dotted;
}
td,
td img {
  vertical-align: top;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
code {
  font-family: Courier, "Courier New", Monaco, Tahoma;
  background: #eee;
  color: #333;
  padding: 0px 2px;
}
pre {
  background: #eee;
  padding: 0;
  margin-bottom: 1em;
  overflow: auto;
}
blockquote {
  font-style: italic;
  margin: 2em 0 2em 4em;
  padding-left: 10px;
  padding-bottom: 0;
  border-left: 5px solid #efefed;
}
@media (max-width: 900px) {
  blockquote {
    margin: 2em 0 2em 1em;
  }
}
blockquote p {
  padding: 1em !important;
  margin: 0 !important;
}
blockquote.twitter-tweet,
iframe.twitter-tweet,
iframe,
.twitter-tweet {
  display: block;
  max-width: 100%;
}
.twitter-tweet.twitter-tweet-rendered {
  margin: 2em auto !important;
}
hr {
  border-top: solid 1px #dfdfdf;
  border-bottom: none;
  margin: 2em auto 2em;
  max-width: 95%;
}
section.footer-lists {
  margin: 1em auto 3em;
}
footer ul.footer-list {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  min-height: 265px;
  margin: 0;
  padding: 1em;
  float: left;
}
@media (max-width: 900px) {
  footer ul.footer-list {
    width: 50%;
    padding: 1em 0;
  }
}
@media (max-width: 700px) {
  footer ul.footer-list {
    width: 100%;
    text-align: center;
  }
}
footer p {
  margin: 1em auto;
}
footer ul.footer-list li.list-header {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.6em;
}
footer ul.footer-list li:not(.list-header) {
  font-weight: normal;
}
footer ul.footer-list li {
  margin: 0.5em 0;
}
.centered {
  display: block;
  margin: 0 auto;
}
.centered-text {
  text-align: center;
}
img.centered {
  display: block;
  margin: 3em auto;
  max-width: 100%;
}
@media (min-width: 1030px) {
  img.extra-margin {
    margin-top: -1.3em;
  }
}
div.header-image {
  margin: 0;
}
.float-right,
.float-left {
  max-width: 410px;
}
.float-right {
  float: right;
  padding-left: 30px;
}
.float-left {
  float: left;
  margin-right: 2em;
  padding-left: 0;
}
img.main-banner {
  margin: 10px 0 10px 50px;
}
div.all-tags {
  text-align: justify;
}
div.all-tags a {
  padding: 0 0.2em;
}
/* Structure Styles
/*---------------------------------------------*/
.inner {
  margin: 0 auto;
  padding: 5px;
}
@media (min-width: 1030px) {
  .inner {
    padding: 0 1em;
  }
}
#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  color: #5D9CEC;
  background-color: #38313a;
  box-shadow: 0 4px 40px -15px #333;
  height: 4em;
}
@media (max-width: 1030px) {
  #header {
    padding: 10px;
    font-size: 2em;
    height: 2em;
  }
}
#header a {
  color: #5D9CEC;
}
#header h1 a {
  font-family: 'Fjalla One', serif;
}
#header h1 a,
#header a:hover {
  color: #fff;
  text-decoration: none;
}
#header a {
  padding-bottom: 8px;
}
@media (min-width: 912px) {
  #header nav a:hover {
    border-bottom: 3px solid #F5F5F5;
  }
}
#header a,
#header a:hover {
  transition: border 0.1s;
}
#header h1 a:hover {
  text-decoration: none;
}
#header h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 5px 0;
  float: left;
}
header,
footer {
  max-width: 1260px;
  margin: 0 auto;
}
header .inner,
footer .inner {
  max-width: 1260px;
}
@media (min-width: 1030px) {
  li.active a {
    border-bottom: 3px solid #F5F5F5;
  }
}
label.cursor-pointer {
  cursor: pointer;
}
a#logo {
  float: left;
  margin: 0.3em 0.7em 0 0;
  color: #fff !important;
}
a#logo:hover {
  border-bottom: none !important;
}
ul#menu {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}
@media (max-width: 1030px) {
  ul#menu {
    float: right;
    overflow: auto;
    max-height: 85vh;
    /* Quick hack. */
  }
}
#menu-toggle {
  display: none;
}
#header #menu-icon-wrapper {
  float: right;
}
#header #menu-icon {
  display: none;
  color: #fff;
  font-size: 2em;
  margin-top: 0.1em;
  padding-top: 5px;
  width: 36px;
  height: 24px;
}
#header nav {
  list-style: none;
  margin: 0.2em 0 0;
  font-family: monospace;
}
#header nav li {
  margin-top: -5px;
  margin-left: 15px;
}
#header nav li:nth-child(2) {
  /*TODO: A bit hacky, maybe refactor later?*/
  margin-left: 0;
}
#header nav li.form-wrapper {
  margin-left: 35px;
  margin-top: -5px;
  float: right;
}
@media (max-width: 1030px) {
  #header nav li.form-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    float: none;
  }
}
#header nav a {
  color: #fff;
  font-weight: bolder;
}
@media (min-width: 1030px) {
  #header nav a {
    font-size: 1.1em;
  }
}
#header #menu-toggle:checked#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}
#header ul {
  list-style: none;
  padding-top: 0.6em;
  margin: 0;
}
#header li {
  display: inline-block;
  float: left;
}
form#search-form {
  width: 100%;
  margin-top: -0.5em;
}
form#search-form input {
  padding: 0.5em 1em;
  border-radius: 4px;
  outline: none;
  width: 100%;
  line-height: 1.5em;
}
div#content-wrapper {
  margin: 0 auto;
  max-width: 1260px;
}
@media (max-width: 1030px) {
  div#content-wrapper {
    margin-top: 2em;
  }
}
#content {
  min-height: 90em;
  background-color: #fff;
  padding: 0;
  margin-top: -5px;
  margin-bottom: 2em;
  font-size: 1em;
  line-height: 1.3em;
  position: relative;
}
@media (min-width: 1030px) {
  aside#sidebar {
    display: block;
    max-width: 360px;
    position: absolute;
    border-left: 1px solid #efefef;
    background-color: #fcfcfc;
    padding: 3rem 10px 10px;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
@media (max-width: 1030px) {
  aside#sidebar {
    overflow: auto;
  }
}
aside#sidebar p {
  font-size: 0.9em;
  margin: 0 0.4em 1em;
  text-align: center;
}
aside#sidebar img {
  display: block;
  margin: 0 auto 0.7em;
}
@media (max-width: 1030px+10px) {
  div.sidebar-module {
    margin-top: 3em;
    width: 50%;
    min-height: 300px;
    float: left;
  }
}
@media (max-width: 700px) {
  div.sidebar-module {
    margin-top: 2em;
    min-height: auto;
    width: 100%;
    float: none;
  }
}
aside#sidebar hr {
  max-width: 25%;
}
@media (max-width: 1030px) {
  aside#sidebar hr {
    display: none;
  }
}
@media (max-width: 700px) {
  aside#sidebar hr {
    display: block;
  }
}
@media (min-width: 1030px) {
  div.sidebar-module:not(:first-child) {
    margin-top: 10px;
  }
}
div#main {
  padding: 0;
}
@media (min-width: 1030px) {
  div#main {
    margin-right: 360px;
  }
}
div#main p,
p.screenshot {
  margin: 1em 0;
  padding: 0.5rem;
}
@media (min-width: 1030px) {
  div#main p,
  p.screenshot {
    padding: 0.5rem 2rem;
  }
}
@media (min-width: 800px) {
  p.screenshot {
    max-width: 50%;
  }
}
p.screenshot img {
  border: 1px solid #ddd;
}
@media (min-width: 1030px) {
  p.screenshot.float-right {
    padding-left: 30px;
  }
}
@media (min-width: 1030px) {
  p.screenshot.float-left {
    padding-right: 30px;
  }
}
p.empty-element {
  /* Inelegant fix for Pico wrapping images in P tags. */
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
ol li p,
ul li p {
  padding: 0 !important;
}
#footer {
  color: #38313a;
  line-height: 1.2em;
  font-size: 0.9em;
  margin: 2em auto 2em;
}
#footer a {
  color: #38313a;
  font-weight: bold;
  text-decoration: underline;
}
#footer a:hover {
  color: #6b646d;
}
div.sponsors-corporate-organizations {
  text-align: center;
}
div.sponsors-corporate-organizations img {
  vertical-align: middle;
  margin: 1em;
  max-width: 300px;
  max-height: 130px;
}
table.event-table td {
  padding: 0.5em 0;
}
table.event-table td.event-time {
  min-width: 5em;
  font-weight: bold;
}
table.event-table td.event-speaker {
  font-weight: bold;
}
/* Misc Styles
/*---------------------------------------------*/
div.search-instructions,
p.search-instructions {
  font-style: italic;
}
div#main p.search-instructions {
  margin-top: 0;
  padding-top: 2em;
}
p.search-instructions code {
  font-style: normal;
}
div.search-item {
  border-top: 1px solid #eee;
  padding: 2em 0 1em;
}
.note {
  font-weight: bold;
  font-style: italic;
  background-color: #F7E967;
  margin: 0;
  padding: 0;
}
.note p {
  padding: 0.5rem 2rem;
}
.note-alternative {
  font-style: italic;
  margin: 2em 0;
}
.note.donations {
  margin-top: 2em;
  padding: 0;
}
@media (min-width: 1030px) {
  div.donations-top-fix {
    margin-top: -1.1rem;
  }
  div.donations-top-fix .note.donations {
    margin-top: auto;
  }
}
body.front-page .note.donations {
  margin: 3em 0;
}
span.normal-text {
  font-style: normal;
}
div.meta p.share-prompt {
  font-weight: bold;
  border-top: 2px dashed #e8e8e6;
  padding-top: 2em !important;
  margin-top: 2em !important;
}
ul.sharing-is-caring {
  list-style: none;
  padding: 0;
}
ul.sharing-is-caring li {
  display: inline;
}
ul.sharing-is-caring li a img {
  max-width: 1.6em;
}
div.search-item p.meta,
div.meta p.last-updated {
  font-style: italic;
}
div.meta p.last-updated {
  font-size: 0.9em;
}
img.photo {
  margin: 1em;
}
@media (max-width: 900px) {
  img.photo {
    margin: 2em auto 0.4em;
  }
}
img.round-borders {
  border-radius: 5px;
}
div.article-thumbnail {
  text-align: center;
}
div.search-thumbnail img {
  border: 1px solid #efefef;
}
@media (min-width: 800px) {
  div.search-thumbnail,
  div.search-text {
    width: 45%;
    padding: 1em;
  }
  div.search-thumbnail img {
    max-width: 100%;
  }
  div.search-thumbnail {
    float: right;
  }
  div.search-text {
    float: left;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* Logo Styles
/*---------------------------------------------*/
/*
img[class^="logo-"]{
}
*/
img.logo-digitalocean {
  height: 1.15em;
  vertical-align: sub;
}
/* Media Queries
/*---------------------------------------------*/
/* Small Devices, Tablets */
@media (max-width: 800px) {
  .float-right,
  .float-left {
    max-width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
  }
  .float-right {
    padding-left: 0;
  }
  img.main-banner {
    margin: 0 auto;
  }
  .inner img {
    max-width: 100%;
  }
  #header h1 a {
    font-size: 1em;
  }
}
@media (max-width: 1030px) {
  #header #menu-icon {
    display: inline-block;
  }
  #header nav a {
    color: #160f18;
  }
  #header nav a:hover {
    color: #434a54;
  }
  #header nav ul,
  nav:active ul,
  ul#menu {
    opacity: 0;
    position: absolute;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #38313a;
    border-bottom: 1px solid #38313a;
    box-shadow: 0 10px 100px -10px #333;
    left: -100px;
    top: 2.3em;
    width: 100%;
    z-index: 9999;
    transition: all 0.2s;
    pointer-events: none;
  }
  #header nav li {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    opacity: 0;
    transition: all 0.2s;
    margin-left: 30px;
  }
  div.callout {
    max-width: 1260px;
    margin: 0 auto;
    font-weight: bold;
    background-color: #050007;
    color: #fff;
    overflow: auto;
    padding: 0.5em 0;
  }
  div.callout > p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  div.callout a {
    color: #fff;
    text-decoration: underline;
  }
  /*
    TODO: Why is the order here off? 
    Also, look into writing this programmatically with LESS, or something.
  */
  #header nav li:nth-child(1) {
    transition-delay: 0s;
  }
  #header nav li:nth-child(2) {
    transition-delay: 0.05s;
  }
  #header nav li:nth-child(3) {
    transition-delay: 0.1s;
  }
  #header nav li:nth-child(4) {
    transition-delay: 0.15s;
  }
  #header nav li:nth-child(5) {
    transition-delay: 0.2s;
  }
  #header nav li:nth-child(6) {
    transition-delay: 0.25s;
  }
  #header nav li:nth-child(7) {
    transition-delay: 0.3s;
  }
  #header nav li:nth-child(8) {
    transition-delay: 0.35s;
  }
  #header nav #menu-toggle:checked ul,
  #menu-toggle:checked + #menu {
    opacity: 1;
    left: 0;
    pointer-events: all;
  }
  #header nav #menu-toggle:checked + #menu li {
    margin-left: 0;
    opacity: 1;
  }
}
@media (max-width: 1030px) and (min-width: 1260px) {
  #header nav li {
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  #header h1 a {
    font-size: 1em;
  }
}
div.bottom-page-links {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
div.bottom-page-links a {
  display: inline-block;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none;
  line-height: 1.5em;
  background-color: #38313a;
  color: #fff;
  vertical-align: top;
  text-align: right;
  font-size: 2.5em;
  border-radius: 5px;
}
@media (min-width: 1030px) {
  div.bottom-page-links a {
    opacity: 0.8;
    font-size: 1.9em;
  }
}
div.bottom-page-links a:hover {
  opacity: 1;
}
div.bottom-page-links a#back-to-top {
  padding: 12px;
}
a#search-help {
  position: absolute;
  margin-left: -1em;
  color: #dadada !important;
  top: 2.3em;
}
@media (min-width: 1030px) {
  a#search-help {
    top: 1.5em;
    margin-left: -25px;
  }
}
a#search-help:hover {
  border: none !important;
  color: #adadad !important;
}
/* Fluid video embeds, via css-tricks.com. */
video {
  width: 100% !important;
  height: auto !important;
}
.video-wrapper {
  position: relative;
  margin: 3em 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Lazy-loading images. */
.lazy-load {
  opacity: 0;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
}
.lazy-loaded {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.lazy-load,
.lazy-loaded {
  transition: all 0.3s;
}
/* Slide-up/down effect, used on the back to top buton. */
.slide-up,
.slide-down {
  transition: all 0.5s;
}
.slide-up {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.slide-down {
  opacity: 0 ;
  pointer-events: none;
  -webkit-transform: translate(0, 150px);
      -ms-transform: translate(0, 150px);
          transform: translate(0, 150px);
}
