<article>
  {% if meta.thumbnail %}
    <div class="article-thumbnail" style="background-color: {{meta.dominant_color}}">
    {% if meta.link %}
      <a href="{{ meta.link }}">
    {% endif %}
      <img src="{{ meta.thumbnail }}" data-src="{{ meta.thumbnail }}" class="lazy-load">
    {% if meta.link %}
      </a>
    {% endif %}
    </div>
  {% endif %}
  <h2>{{ meta.title }}</h2>
  <div class="content-wrapper">
    {% if meta.translations is not empty %}
      <p><em>Also available in: 
        {% for language in meta.translations|split(',') %}
          <a href="{{ current_page.url }}_{{ language }}">
            {% if language == 'es' %}
              Spanish
            {% else %}
              {{ language }}
            {% endif %}
          </a>
        {% endfor %}
      </em></p>
    {% endif %}

    {% if meta.installed == 'true' or meta.installed == 'yes' %}
        <div class="note"><p>
      {% if meta.language == 'es' %}
          Nota: Únete a <a href="https://botmakers.org/">Botmakers</a> y podrás <a href="https://github.com/botwiki/botmakers.org/blob/master/BOTS.md">probar este bot por ti mismo</a> :-)
      {% else %}
          Note: Come join <a href="https://botmakers.org/">Botmakers</a> and you can <a href="https://github.com/botwiki/botmakers.org/blob/master/BOTS.md">try this bot yourself</a> :-)
      {% endif %}
      </p></div>
    {% endif %}

    {% if meta.source %}
    <div class="opensource">
      <p>
        <a class="btn" href="{{ meta.source }}">View source</a>

      {% if "github.com" in meta.source %}
        <a target="_blank" class="btn" href="https://gomix.com/#!/import/github/{{ meta.source|replace({'https://github.com/': ''}) }}">Remix on Glitch</a>
        <a class="btn-link" href="/tutorials/hosting-bots-glitch">What is Glitch?</a>
      {% endif %}
      {% if "glitch.com" in meta.source %}
        <a target="_blank" class="btn" href="{{ meta.source|replace({'https://glitch.com/': 'https://glitch.com/edit/#!/remix/'}) }}">Remix on Glitch</a>
        <a class="btn-link" href="/tutorials/hosting-bots-glitch">What is Glitch?</a>
      {% endif %}
      </p>
    </div>
    {% endif %}


    {{ content }}
    {% if "bot-workshops" in meta.tags %}
      {% include 'includes/bot-workshops.html' %}
    {% endif %}

    {% if "interview" in meta.tags %}
      <p class="note-alternative">This was an interview from the <a href="https://botzine.org/">Bot! zine</a> interview series. <a href="/tag/interview">Read more here.</a></p>
    {% endif %}

    {% if meta.show_donation_link == 'yes'
       or "bot" in meta.tags
       or "event" in meta.tags
       or "interview" in meta.tags
     %}
      {% include 'includes/donations.html' %}
    {% endif %}

    <!--
            <hr/>
            <div class="footer-module">
              <a href="/bot-workshops"><img class="round-borders" src="/content/images/logos/bot-workshops.png" title="Bot workshops" alt="Bot workshops"></a>
              <p><a href="/bot-workshops">Learn how to make bots!</a></p>
            </div>
    -->
    <!-- 
            <hr/>
            <div class="footer-module">
              <a href="/monthly-bot-challenge/"><img src="/content/botmaker-badges/images/monthly-bot-challenge-2016.png" title="Monthly Bot Challenge" alt="A badge for the Monthly Bot Challenge winner"></a>
              <p>Enter the <a href="/monthly-bot-challenge/">Monthly Bot Challenge</a>!</p>
            </div>
     -->
    <div class="meta">
        {% if meta.date %}
          <p>Last updated on {{ meta.date }}.</p>
        {% endif %}
        {% if meta.tags is not empty %}
        {% if 'bot' in meta.tags %}
          <p class="tags">
            {% if meta.language == 'es'%}
              Puedes ver otros bots similares en:
            {% else %}
              Browse more bots like this:
            {% endif %}
        {% else %}
          <p class="tags">Tags:
        {% endif %}

        {% for tag in meta.tags %}
            <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
        </p>
        {% if 'bot' in meta.tags %}
          <p>Or check out <a href="/random-bot">a random bot</a>!</p>
        {% endif %}
      {% endif %}
    </p>
    <div class="share-prompt">
        <h4>
        {% if meta.language == 'es' %}
          Comparte esta página
        {% else %}
          Share this page
        {% endif %}
        </h4>
        {% include 'includes/sharing-is-caring.html' %}
    </div>
    {% include 'includes/footer-modules.html' %}
  </div>
</article>
