<div class="search-item clearfix">
  {% if page.thumbnail %}
    <div class="search-thumbnail">
      <a href="{{ page.url }}">
        <img src="{{ page.thumbnail }}" data-src="{{ page.thumbnail }}" class="lazy-load">
      </a>
    </div>
    <div class="search-text-after-image">
  {% else %}
    <div class="search-text-full">      
  {% endif %}

    <h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
    <p class="excerpt">{{ page.description }}</p>
    <p class="meta">
      {% if page.tags|length > 0 %}
        {% if page.tags is iterable %}
          {% set page_tags = page.tags %}
        {% else %}
          {% set page_tags = page.tags|split(',') %}
        {% endif %}

        {% for tag in page_tags %}
          <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
      {% endif %}
    {% if page.date %}<br/>Last updated on {{ page.date }}</p>{% endif %}
  </div>
</div>