<div class="search-item clearfix">
  {% if ('bot' in page.tags or 'event' in page.tags) and page.thumbnail %}
    <div class="search-thumbnail">
      <a href="{{ page.url }}">
        <img data-src="{{ page.thumbnail }}" class="lazy-load">
      </a>
    </div>
    <div class="search-text-after-image">
  {% else %}
    <div class="search-text-full">      
  {% endif %}
    <h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
    <p class="excerpt">{{ page.description }}</p>
    {% if page.date %}
    <p class="meta">
      {% if 'event' in page.tags %}
        {{ page.date }}
      {% else %}
        Last updated on {{ page.date }}
      {% endif %}
    </p>
    {% endif %}
    {% if page.tags|length > 0 %}
      {% if page.tags is iterable %}
        {% set page_tags = page.tags %}
      {% else %}
        {% set page_tags = page.tags|split(',') %}
      {% endif %}
        <p class="meta">
          {% for tag in page_tags %}
            <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
          {% endfor %}
        </p>
    {% endif %}
  </div>
</div>