<div class="search-results-intro">
<div class="donations-top-fix">
  {% include 'includes/donations.html' %}
</div>


{% if current_tags == ['all-tags'] %}
  <h1>Brofwse all existing tags</h1>
  <div class="all-tags">
    {% for tag in tag_list %}
      <a href="/tag/{{ tag }}">#{{ tag }}</a></li>
    {% endfor %}
  </div>
{% elseif current_tags == ['botmaker'] %}
  <p><strong>Botmaker Profiles</strong> are now <strong>Bot! zine Interviews</strong>, see the <a href="/tag/interview/">#interview</a> tag.</p>
{% elseif current_tags == ['interview'] %}
  <h1>Bot! zine Interviews</h1>
  <p>Interviews featured in the <a href="http://botzine.org">Bot! zine</a> newsletter.</p> 
{% endif %}


{% if pagestags|length == 0 and current_tags != ['all-tags'] %}
  <h3>No posts tagged 
    {% for tag in current_tags %}
      <a href="/tag/{{ tag}}">#{{ tag }}</a>
    {% endfor %}. Would you like to <a href="https://github.com/botwiki/botwiki.org">create one</a>?</h3>
  </div>
  <div class="content-wrapper">
    <p><a href="/">Back to the main page.</a></p>
  </div>
{% elseif current_tags != ['all-tags'] %}
  {% if current_tags == ['bot'] %}
    {% include 'includes/all-bots.html' %}
  {% elseif current_tags == ['twitterbot'] %}
    {% include 'includes/twitterbots.html' %}
  {% elseif current_tags == ['slackbot'] %}
    {% include 'includes/slackbots.html' %}
  {% elseif current_tags == ['images'] %}
    <p>You can also explore the <a href="/tag/gif">#gif</a> tag.</p>
  {% elseif current_tags == ['game'] %}
    {% include 'includes/game-bots.html' %}
  {% elseif current_tags == ['monthlybotchallenge'] %}
    {% include 'includes/monthly-bot-challenge.html' %}
  {% elseif 'cheapbotsdonequick' in current_tags %}
    {% include 'includes/cheapbotsdonequick.html' %}
  {% elseif current_tags == ['gif'] %}
    <p>You can also explore the <a href="/tag/images">#images</a> tag.</p>
  {% elseif current_tags == ['non-english'] %}
    {% include 'includes/non-english.html' %}
  {% elseif current_tags == ['opensource'] or current_tags == ['open source'] or current_tags == ['bot', 'opensource'] or current_tags == ['bot', 'open source']  or current_tags == ['opensource', 'bot'] or current_tags == ['open source', 'bot'] %}
    {% include 'includes/opensource.html' %}
  {% elseif current_tags == ['markov'] or current_tags == ['markov chain'] %}
    {% include 'includes/markov.html' %}
  {% elseif current_tags == ['event', 'archived'] %}
    <p>You are browsing <strong>past events</strong>. See also <a href="/tag/event+ongoing">ongoing</a> and <a href="/tag/event+upcoming">upcoming</a> events, or <a href="/events/">go back to the Events page</a></p>
  {% elseif current_tags == ['event', 'upcoming'] %}
    <p>You are browsing <strong>upcoming events</strong>. See also <a href="/tag/event+ongoing">ongoing</a> and <a href="/tag/event+archived">past</a> events, or <a href="/events/">go back to the Events page</a>.</p>
  {% elseif current_tags == ['event', 'ongoing'] %}
    <p>These are <strong>currently ongoing events</strong>. See also <a href="/tag/event+upcoming">upcoming</a> and <a href="/tag/event+archived">past</a> events, or  <a href="/events/">go back to the Events page</a></p>
  {% elseif current_tags == ['tutorial', 'fourtonfish']
            or  current_tags == ['fourtonfish', 'tutorial'] %}
    <p><strong>See also:</strong></p><ul><li><a href="https://gomix.com/#!/project/twitterbot">Gomix Twitter bot template</a></li></ul>
  {% elseif current_tags == ['opensource', 'twitterbot'] or current_tags == ['open source', 'twitterbot'] 
         or current_tags == ['twitterbot', 'opensource'] or current_tags == ['twitterbot', 'open source']
  %}
    {% include 'includes/opensource-twitterbots.html' %}
  {% endif %}
  </div>
  <div class="content-wrapper">
    <h3>Posts tagged 
      {% for tag in current_tags %}
        <a href="/tag/{{ tag}}">#{{ tag }}</a>
      {% endfor %}
    </h3>

    {% for page in pagestags %}
      {% if page.date and not page.language %}
        {% include 'includes/search_item.html' %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if 'event' in current_tags %}
<hr/>
<p>Be sure to follow <a href="https://twitter.com/botwikidotorg">@botwikidotorg</a> and subscribe to the <a href="http://botzine.org/">Bot! zine</a> newsletter for more updates!</p>
{% endif %}
