<div class="donations-top-fix">
  {% include 'includes/donations.html' %}
</div>

{% if current_tags == ['open%20source'] %}
  <p>Please check out the <a href="/tag/opensource"><strong><code>opensource</code></strong></a> tag while we get our stuff together. Thanks!</p>
{% elseif current_tags == ['all-tags'] %}
  <h1>Browse all existing tags</h1>
  <div class="all-tags">
    {% for tag in tag_list %}
      <a href="/tag/{{ tag }}">#{{ tag }}</a></li>
    {% endfor %}
  </div>
{% elseif current_tags == ['botmaker'] %}
  <p><strong>Botmaker Profiles</strong> are now <strong>Bot! zine Interviews</strong>, see the <a href="/tag/interview/">#interview</a> tag.</p>
{% elseif current_tags == ['interview'] %}
  <h1>Bot! zine Interviews</h1>
  <p>Interviews featured in the <a href="http://botzine.org">Bot! zine</a> newsletter.</p> 
{% endif %}


{% if pagestags|length == 0 and current_tags != ['all-tags'] %}
  <p>No posts tagged 
    {% for tag in current_tags %}
      <a href="/tag/{{ tag}}">#{{ tag }}</a>
    {% endfor %}. Would you like to <a href="https://github.com/botwiki/botwiki.org">create one</a>?</p>
  <p><a href="/">Back to the main page.</a>
{% elseif current_tags != ['all-tags'] %}
  {% if current_tags == ['bot'] %}
    {% include 'includes/all-bots.html' %}
  {% elseif current_tags == ['twitterbot'] %}
    {% include 'includes/twitterbots.html' %}
  {% elseif current_tags == ['slackbot'] %}
    {% include 'includes/slackbots.html' %}
  {% elseif current_tags == ['images'] %}
    <p>You can also explore the <a href="/tag/gif">#gif</a> tag.</p>
  {% elseif current_tags == ['game'] %}
    {% include 'includes/game-bots.html' %}
  {% elseif current_tags == ['monthlybotchallenge'] %}
    {% include 'includes/monthly-bot-challenge.html' %}
  {% elseif 'cheapbotsdonequick' in current_tags %}
    {% include 'includes/cheapbotsdonequick.html' %}
  {% elseif current_tags == ['gif'] %}
    <p>You can also explore the <a href="/tag/images">#images</a> tag.</p>
  {% elseif current_tags == ['non-english'] %}
    {% include 'includes/non-english.html' %}
  {% elseif current_tags == ['opensource'] or current_tags == ['open source'] %}
    {% include 'includes/opensource.html' %}
  {% elseif current_tags == ['markov'] or current_tags == ['markov chain'] %}
    {% include 'includes/markov.html' %}
  {% elseif current_tags == ['opensource', 'twitterbot'] or current_tags == ['open source', 'twitterbot'] 
         or current_tags == ['twitterbot', 'opensource'] or current_tags == ['twitterbot', 'open source']
  %}
    {% include 'includes/opensource-twitterbots.html' %}
  {% endif %}


  <p>Posts tagged 
    {% for tag in current_tags %}
      <a href="/tag/{{ tag}}">#{{ tag }}</a>
    {% endfor %}
  </p>

  {% for page in pagestags %}
    {% if page.date and not page.language %}
      {% include 'includes/search_item.html' %}
    {% endif %}
  {% endfor %}
{% endif %}