{% if pagestags|length == 0 %}
  <p>No posts tagged <a href="{{ page.url }}">#{{ current_tag }}</a>. Would you like to <a href="https://github.com/botwiki/botwiki.org">create one</a>?</p>
  <p><a href="/">Back to the main page.</a>
{% else %}

{% if current_tag == 'opensource' %}
  <p>For a <strong>full list</strong> of open source bots, visit <a href="https://github.com/botwiki/open-source-bots">github.com/botwiki/open-source-bots</a>.</p>
{% endif %}

  <p>Posts tagged <a href="{{ page.url }}">#{{ current_tag }}</a>:</p>
  {% for page in pagestags %}
  {% if page.date %}
  <div class="search-item">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="meta">{{ page.description }}
    </p>
    <p class="meta">
      <span class="tags">
        {% for tag in page.tags %}
        <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
      </span>
      <br/>
      Last updated on {{ page.date }}
    </p>
  </div>
  {% endif %}
  {% endfor %}
  <!--
  TODO: Is this useful?
  All tags:
  <ul class="tags">
    {% for tag in tag_list %}
    <li><a href="/tag/{{ tag }}">#{{ tag }}</a></li>
    {% endfor %}
  </ul>
  -->
{% endif %}