<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/WebPage" lang="en" class="no-js" />
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if meta.title %}
    <title>{{ meta.title }} | {{ site_title }} 🤖</title>
    <meta property="og:title" content="{{ meta.title }} | {{ site_title }} 🤖" />
    <meta name="twitter:title" content="{{ meta.title }} | {{ site_title }} 🤖" />
  {% else %}
    <title>{{ site_title }} 🤖</title>
    <meta property="og:title" content="{{ site_title }}" />
    <meta name="twitter:title" content="{{ site_title }}" />
  {% endif %}
  {% if meta.description %}
    <meta name="description" content="{{ meta.description }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta name="twitter:description" content="{{ meta.description }}" />
  {% endif%}
  {% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}" />
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ current_page.url }}" />
  {% if meta.thumbnail and not is_front_page %}
    <meta property="og:image" content="{{meta.thumbnail}}" /> 
    <meta property="twitter:image:src" content="{{base_url}}{{meta.thumbnail}}" /> 
  {% else %}
    <meta property="og:image" content="{{base_url}}/content/images/botwiki-nixiebot-thumbnail.png" /> 
    <meta property="twitter:image:src" content="{{base_url}}/content/images/botwiki-nixiebot-thumbnail.png" /> 
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@botwikidotorg" />
  <meta name="twitter:domain" content="https://botwiki.org/" />
  <link type="text/plain" rel="author" href="https://botwiki.org/humans.txt" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="https://botwiki.org/content/images/favicon-144.png" />
  <link rel="shortcut icon" href="/content/images/favicon.ico"/>
  <link rel="apple-touch-icon-precomposed" href="https://botwiki.org/content/images/favicon-152.png" />
  <link rel="icon" href="https://botwiki.org/content/images/favicon-32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://botwiki.org/content/images/favicon-64.png" />
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Source+Serif+Pro|Bree+Serif|Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ theme_url }}/css/style.2.81.min.css" type="text/css" />  
{% if meta.has_code == 'yes' %}
  <link rel="stylesheet" href="{{ theme_url }}/libs/highlight.js/styles/monokai-sublime.css" type="text/css" />
{% endif %}
  <link rel="pingback" href="https://webmention.io/botwiki.org/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/botwiki.org/webmention" />
</head>
<body{% if is_front_page %} class="front-page"{% endif %}>
  <header id="header">
    <div class="inner clearfix">
      <nav>
        <label id="menu-icon-wrapper" class="cursor-pointer" for="menu-toggle">
          <svg id="menu-icon" viewBox="0 0 36 24" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="36px" height="24px"><g id="Layer%201"><rect x="0" y="0" width="36" height="4" fill="#ffffff"/><rect x="0" y="10" width="36" height="4" fill="#ffffff"/><rect x="0" y="20" width="36" height="4" fill="#ffffff"/></g></svg>
        </label>  
        <a class="h-card u-url" href="{{ base_url }}" id="logo" title="Hello!"><span class="robot-face">🤖</span></a>
        <input type="checkbox" id="menu-toggle"/>  
        <ul id="menu">
          <li class="form-wrapper">
            <form id="search-form" action="/search">
              <input name="q" placeholder="🔎 Search..." value="{{ search_term }}"><a id="search-help" href="#">?</a>
            </form>
          </li>
          {{ nav_sort.sorted_nav }}
        </ul>
      </nav>
    </div>
  </header>
  <div id="content-wrapper">
    {% if is_front_page %}
      <div class="header-image">
        <a href="/bots/twitterbots/NixieBot">
          <img src="{{ meta.thumbnail }}" data-src="{{ meta.thumbnail }}" class="u-photo lazy-load">
        </a>
      </div>
    {% endif %}

    <section id="content">
      <div id="main" class="inner">
        {% if meta.purpose == "search_results" %}
          {% include 'includes/search_results.html' %}
        {% else %}
          {% if is_front_page %}
            {% include 'includes/main.html' %}
          {% elseif current_page is not empty %}
            {% include 'includes/article.html' %}
            {# TODO: Something like this should be possible with Pico 1.0
            {% include 'includes/contribute.html' with {'relative_path': current_page.url | split(base_url) | last } %}
            #}
          {% elseif current_page is empty %}
              {% if meta.title != 'Error 404' %}
                {% include 'includes/tags.html' %}
              {% else %}
                {{ content }}
              {% endif %}
          {% endif %}
        {% endif %}
      </div>
      <aside id="sidebar">
        <div class="sidebar-module">
          <p>Botwiki is brought to you by</p>
          <a href="https://www.digitalocean.com/"><img class="round-borders" src="/content/images/logos/digitalocean-logo-sidebar.png" title="DigitalOcean" alt="DigitalOcean logo"></a>
          <p>and <a href="/about/supporters">other generous sponsors</a></p>
        </div>
        <hr/>
        <div class="sidebar-module">
          <a href="https://botmakers.org/"><img class="round-borders" src="/content/images/logos/hashtag-botmakers.png" title="Botmakers" alt="Botmakers.org logo"></a>
          <p>Join <a href="https://botmakers.org/">Botmakers</a> on <a href="https://slack.com/is">Slack</a> and the <a href="http://www.meetup.com/botmakers/">Botmakers</a> meetup group!</p>
        </div>
        <hr/>
        <div class="sidebar-module">
          <a href="https://botzine.org/"><img class="round-borders" src="/content/images/logos/botzine.png" title="Bot! zine" alt="Bot! zine logo"></a>
          <p>Sign up for the <a href="https://botzine.org/">Bot! zine</a> newsletter!</p>
        </div>
        <hr/>
        <div class="sidebar-module">
          <a href="/monthly-bot-challenge/"><img src="/content/botmaker-badges/images/monthly-bot-challenge-2016.png" title="Monthly Bot Challenge" alt="A badge for the Monthly Bot Challenge winner"></a>
          <p>Enter the <a href="/monthly-bot-challenge/">Monthly Bot Challenge</a>!</p>
        </div>
        <hr/>
        <div class="sidebar-module">
          <a href="/botmaker-badges/"><img class="round-borders" src="/content/images/logos/botmaker-badges.png" title="Botmaker Badge" alt="Botmaker Badge"></a>
          <p>Apply for a <a href="/botmaker-badges/">badge</a>, <a href="https://botwiki.org/submit-your-bot">submit a bot</a>, or check out <a href="/random-bot">a random bot page</a>!</p>
        </div>
      </aside>
    </section>
  </div>
  <footer id="footer">
    <div class="inner">
      <section class="footer-lists clearfix">
        <ul class="footer-list">
          <li class="list-header">About</li>
          <li><a href="/about/">About Botwiki</a></li>
          <li><a href="/about/team/">Team</a></li>
          <li><a href="/projects/">Active projects</a></li>
          <li><a href="/about/press/">Press</a></li>
          <li><a href="/coc/">Code of Conduct</a></li>
        </ul>
        <ul class="footer-list">
          <li class="list-header">Contact</li>
          <li><a class="u-email" rel="me" href="mailto:stefan@botwiki.org?cc=v@veronicabelmont.com">stefan@botwiki.org</a></li>
          <li><a class="h-card" rel="me" href="https://twitter.com/botwikidotorg">@botwikidotorg</a></li>
          <li><a href="https://twitter.com/fourtonfish">@fourtonfish</a></li>
          <li><a href="https://botmakers.org/">botmakers.org</a></li>
        </ul>
        <ul class="footer-list">
          <li class="list-header">Support</li>
          <li><a href="https://www.patreon.com/botwiki">Patreon</a></li>
          <li><a href="https://gratipay.com/botwiki-org/">Gratipay</a></li>
          <li><a href="https://www.paypal.me/stefanbohacek">PayPal</a></li>
          <li><a href="bitcoin:18WDyJFShLcLVCRyiEm3MijbCsBjcxG4mH?amount=0.025&amp;label=Botwiki">Bitcoin</a></li>
          <li><a href="/about/supporters">Supporters</a></li>
        </ul>
        <ul class="footer-list">
          <li class="list-header">Share/Save</li>
          <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fbotwiki.org%2F&amp;text=Resources%20for%20creating%20useful%2C%20interesting%2C%20artistic%20and%20friendly%20online%20bots.:%20https%3A%2F%2Fbotwiki.org%2F&via=botwikidotorg" target="_blank" title="Tweet">Twitter</a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbotwiki.org%2F&amp;t=Resources%20for%20creating%20useful%2C%20interesting%2C%20artistic%20and%20friendly%20online%20bots." target="_blank" title="Share on Facebook">Facebook</a></li>
          <li><a href="mailto:?subject=Resources%20for%20creating%20useful%2C%20interesting%2C%20artistic%20and%20friendly%20online%20bots.&amp;body=Botwiki.org%20is%20an%20open-source%20collection%20of%20tutorials%2C%20articles%2C%20datasets%20and%20other%20resources%20for%20creating%20useful%2C%20interesting%2C%20artistic%20and%20friendly%20online%20bots%20--%20smart%20software%20agents%20that%20do%20fun%20or%20useful%20stuff%20--%20for%20Twitter%2C%20Slack%2C%20IRC%20and%20other%20online%20networks.:%20https%3A%2F%2Fbotwiki.org%2F" target="_blank" title="Email">Email</a></li>
          <li><a href="https://getpocket.com/save?url=https%3A%2F%2Fbotwiki.org%2F&amp;title=Resources%20for%20creating%20useful%2C%20interesting%2C%20artistic%20and%20friendly%20online%20bots." target="_blank" title="Add to Pocket">Pocket</a></li>
          <li><a href="https://pinboard.in/popup_login/?url=https%3A%2F%2Fbotwiki.org%2F&amp;title=Resources%20for%20creating%20useful%2C%20interesting%2C%20artistic%20and%20friendly%20online%20bots.&amp;description=Botwiki.org%20is%20an%20open-source%20collection%20of%20tutorials%2C%20articles%2C%20datasets%20and%20other%20resources%20for%20creating%20useful%2C%20interesting%2C%20artistic%20and%20friendly%20online%20bots%20--%20smart%20software%20agents%20that%20do%20fun%20or%20useful%20stuff%20--%20for%20Twitter%2C%20Slack%2C%20IRC%20and%20other%20online%20networks." target="_blank" title="Save to Pinboard">Pinboard</a></li>
        </ul>
      </section>
      <p class="p-note">
        This website is <a href="https://github.com/botwiki/botwiki.org">open source</a> and powered by <a href="http://picocms.org/">Pico</a>. Images are from <a href="http://www.oldbookillustrations.com/">Old Book Illustrations</a>. <strong>Botwiki</strong> and the <a href="http://botzine.org/">Bot! zine</a> and <a href="https://botmakers.org/">Botmakers.org</a> landing pages are all proudly hosted by <a href="https://digitalocean.com/"><img class="logo-digitalocean" src="/content/images/logos/digitalocean-logo-horizontal.svg" title="DigitalOcean" alt="DigitalOcean company logo"></a>, a generous supporter and the sponsor of the very first <a href="https://botwiki.org/monthly-bot-challenge/">Monthly Bot Challenge</a>. One more way to support us is to sign up using our <a href="https://www.digitalocean.com/?refcode=9e279abc3337">referral link</a>, which will also earn you a <strong>$10 starter credit</strong>.
      </p>
    </div>
  </footer>
  {% include 'includes/statcounter.html' ignore missing %}
  <div class="back-to-top"><a href="#header"><img src="/content/images/arrow-up.svg"></a></div>
  <script src="{{ theme_url }}/js/scripts.1.20.min.js"></script>
  {% if meta.has_code == 'yes' %}
  <script src="{{ theme_url }}/libs/highlight.js/highlight.pack.js"></script>
  {% endif %}
</body>
</html>